h1 {
 background-color: rgb(119, 168, 241);
 text-align: center;
 padding-top: 2rem;
 padding-bottom: 2rem;
 font-size: 3rem;
}
h2 {
    border-radius: 20rem;
    background-color: blanchedalmond;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}
a{
    margin-left: 35rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem

}
footer{
    width:;
 
}